<div class="bg-blue-50">
  <div class="flex flex-row justify-content-between align-content-center">
    <button
      mat-stroked-button
      class="align-self-start m-3"
      routerLink="display"
      (click)="saveSettings()"
    >
      &lt; Display
    </button>
    <h1 class="align-self-center m-0">Moquta Settings</h1>
    <span></span>
  </div>

  <mat-divider></mat-divider>

  <form #form="ngForm" class="flex flex-column m-3">
    <section class="flex flex-column lg:flex-row mt-4">
      <div class="section-description mr-2">
        <h2>Personalization Settings</h2>
        <p class="hidden lg:flex text-700">
          Select the settings to personalize Moquta to fit the brand of your
          masjid.
        </p>
      </div>
      <div class="flex flex-wrap flex-column flex-grow-1 section-settings">
        <mat-form-field appearance="outline" class="m-1">
          <mat-label>Language</mat-label>
          <mat-select name="Language" [(ngModel)]="settings.language">
            <mat-option
              value="ar"
            >
              العربية
            </mat-option>
            <mat-option
              value="en"
            >
              English
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="m-1">
          <mat-label>Logo</mat-label>
          <input
            matInput
            type="text"
            name="logo"
            [(ngModel)]="settings.masjidLogoSrc"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="m-1">
          <mat-label>Masjid Name</mat-label>
          <input
            matInput
            type="text"
            name="masjidName"
            [(ngModel)]="settings.masjidName"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="m-1">
          <mat-label>Masjid Subheader</mat-label>
          <input
            matInput
            type="text"
            name="masjidSubheader"
            [(ngModel)]="settings.masjidSubheader"
          />
        </mat-form-field>

        <div class="flex">
          <mat-form-field appearance="outline" class="m-1 flex-grow-1">
            <mat-label>Primary Color</mat-label>
            <input
              matInput
              type="color"
              name="masjidPrimaryColor"
              [(ngModel)]="settings.masjidPrimaryColor"
            />
          </mat-form-field>

          <mat-form-field appearance="outline" class="m-1 flex-grow-1">
            <mat-label>Secondary Color</mat-label>
            <input
              matInput
              type="color"
              name="masjidSecondaryColor"
              [(ngModel)]="settings.masjidSecondaryColor"
            />
          </mat-form-field>
        </div>

        <div class="flex flex-column">
          <p
            *ngIf="additionalInfo.length < 1"
            class="align-self-center text-700"
          >
            No additional information is being displayed. Click the + button
            below to add info.
          </p>
          <mat-form-field
            *ngFor="let info of additionalInfo; let i = index"
            appearance="outline"
            class="m-1"
          >
            <mat-label>Additional Info Line {{ i + 1 }}</mat-label>
            <input
              matInput
              type="text"
              name="additionalInfo-{{ i }}"
              [(ngModel)]="additionalInfo[i].value"
            />
            <button
              matSuffix
              mat-icon-button
              color="warn"
              (click)="additionalInfo.splice(i, 1)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-form-field>
          <button
            *ngIf="additionalInfo.length < 4"
            mat-mini-fab
            color="primary"
            class="mat-elevation-z mb-3 align-self-center"
            (click)="additionalInfo.push({ value: '' })"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section class="flex flex-column lg:flex-row mt-4">
      <div class="section-description mr-2">
        <h2>Time Adjustment</h2>
        <p class="hidden lg:flex text-700">
          Change settings to adjust hijri date and timings for prayer, iqamah,
          and adkhar.
        </p>
      </div>
      <div class="flex flex-column flex-grow-1 section-settings">
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1">
            <mat-label>Hijri Date Adjustment</mat-label>
            <input
              matInput
              type="number"
              name="hijriDateAdjustment"
              [(ngModel)]="settings.apiParams.adjustment"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Fajr Prayer</mat-label>
            <input
              matInput
              type="number"
              name="fajrPrayerAdjust"
              [(ngModel)]="prayerTimesTune[1]"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Fajr Iqamah</mat-label>
            <input
              matInput
              type="number"
              name="fajrIqamahAdjust"
              min="0"
              [(ngModel)]="settings.iqamaOffset.Fajr"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Fajr Adhkar</mat-label>
            <input
              matInput
              type="number"
              name="fajrAdhkarAdjust"
              min="0"
              [(ngModel)]="settings.adhkarOffset.Fajr"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1">
            <mat-label>Sunrise Time</mat-label>
            <input
              matInput
              type="number"
              name="sunriseTimeAdjust"
              [(ngModel)]="prayerTimesTune[2]"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Dhuhr Prayer</mat-label>
            <input
              matInput
              type="number"
              name="dhuhrPrayerAdjust"
              [(ngModel)]="prayerTimesTune[3]"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Dhuhr Iqamah</mat-label>
            <input
              matInput
              type="number"
              name="dhuhrIqamahAdjust"
              min="0"
              [(ngModel)]="settings.iqamaOffset.Dhuhr"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Dhuhr Adhkar</mat-label>
            <input
              matInput
              type="number"
              name="dhuhrAdhkarAdjust"
              min="0"
              [(ngModel)]="settings.adhkarOffset.Dhuhr"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Asr Prayer</mat-label>
            <input
              matInput
              type="number"
              name="asrPrayerAdjust"
              [(ngModel)]="prayerTimesTune[4]"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Asr Iqamah</mat-label>
            <input
              matInput
              type="number"
              name="asrIqamahAdjust"
              min="0"
              [(ngModel)]="settings.iqamaOffset.Asr"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Asr Adhkar</mat-label>
            <input
              matInput
              type="number"
              name="asrAdhkarAdjust"
              min="0"
              [(ngModel)]="settings.adhkarOffset.Asr"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Maghrib Prayer</mat-label>
            <input
              matInput
              type="number"
              name="maghribPrayerAdjust"
              [(ngModel)]="prayerTimesTune[5]"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Maghrib Iqamah</mat-label>
            <input
              matInput
              type="number"
              name="maghribIqamahAdjust"
              min="0"
              [(ngModel)]="settings.iqamaOffset.Maghrib"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Maghrib Adhkar</mat-label>
            <input
              matInput
              type="number"
              name="maghribAdhkarAdjust"
              min="0"
              [(ngModel)]="settings.adhkarOffset.Maghrib"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Isha Prayer</mat-label>
            <input
              matInput
              type="number"
              name="ishaPrayerAdjust"
              [(ngModel)]="prayerTimesTune[8]"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Isha Iqamah</mat-label>
            <input
              matInput
              type="number"
              name="ishaIqamahAdjust"
              min="0"
              [(ngModel)]="settings.iqamaOffset.Isha"
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Isha Adhkar</mat-label>
            <input
              matInput
              type="number"
              name="ishaAdhkarAdjust"
              min="0"
              [(ngModel)]="settings.adhkarOffset.Isha"
            />
          </mat-form-field>
        </div>
      </div>
    </section>

    <mat-divider></mat-divider>

    <section class="flex flex-column lg:flex-row mt-4">
      <div class="section-description mr-2">
        <h2>Calculation Methods</h2>
        <p class="hidden lg:flex text-700">
          Change settings used to calculate prayer timings.
        </p>
      </div>
      <div class="flex flex-column flex-grow-1 section-settings">
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Prayer Calculation School</mat-label>
            <mat-select name="school" [(ngModel)]="settings.apiParams.school">
              <mat-option value="0">Shafi</mat-option>
              <mat-option value="1">Hanafi</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Prayer Calculation Method</mat-label>
            <mat-select name="method" [(ngModel)]="settings.apiParams.method">
              <mat-option value="13"
                >Diyanet İşleri Başkanlığı, Turkey</mat-option
              >
              <mat-option value="5"
                >Egyptian General Authority of Survey</mat-option
              >
              <mat-option value="8">Gulf Region</mat-option>
              <mat-option value="7"
                >Institute of Geophysics, University of Tehran</mat-option
              >
              <mat-option value="2"
                >Islamic Society of North America (ISNA)</mat-option
              >
              <mat-option value="9">Kuwait</mat-option>
              <mat-option value="11"
                >Majlis Ugama Islam Singapura, Singapore</mat-option
              >
              <mat-option value="15"
                >Moonsighting Committee Worldwide (Moonsighting.com)</mat-option
              >
              <mat-option value="3">Muslim World League</mat-option>
              <mat-option value="10">Qatar</mat-option>
              <mat-option value="14"
                >Spiritual Administration of Muslims of Russia</mat-option
              >
              <mat-option value="4">Umm Al-Qura University, Makkah</mat-option>
              <mat-option value="12"
                >Union Organization Islamic de France</mat-option
              >
              <mat-option value="1"
                >University of Islamic Sciences, Karachi</mat-option
              >
            </mat-select>
          </mat-form-field>
          <mat-form-field
            *ngIf="settings.apiParams.method == 15"
            appearance="outline"
            class="m-1 flex-1"
          >
            <mat-label>Shafaq</mat-label>
            <mat-select name="shafaq" [(ngModel)]="settings.apiParams.shafaq">
              <mat-option value="general">General</mat-option>
              <mat-option value="ahmer">Ahmer (Red)</mat-option>
              <mat-option value="abyad">Abyad (White)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-nowrap flex-row flex-1">
          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>Country</mat-label>
            <mat-select name="country" [(ngModel)]="settings.apiParams.country" (valueChange)="settings.apiParams.state = ''">
              <mat-option
                *ngFor="let country of getAllCountries()"
                [value]="country.isoCode"
              >
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>State</mat-label>
            <mat-select
              name="state"
              [(ngModel)]="settings.apiParams.state"
              (valueChange)="settings.apiParams.city = ''"
              [disabled]="
                !settings.apiParams.country || settings.apiParams.country == ''
              "
            >
              <mat-option
                *ngFor="
                  let state of getStatesOfCountry(settings.apiParams.country)
                "
                [value]="state.isoCode"
              >
                {{ state.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="m-1 flex-1">
            <mat-label>City</mat-label>
            <mat-select
              name="city"
              [(ngModel)]="settings.apiParams.city"
              [disabled]="
                !settings.apiParams.state || settings.apiParams.state == ''
              "
            >
              <mat-option
                *ngFor="
                  let city of getCitiesOfState(
                    settings.apiParams.country,
                    settings.apiParams.state
                  )
                "
                [value]="city.name"
              >
                {{ city.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </section>

    <mat-divider></mat-divider>

    <button
      mat-stroked-button
      color="warn"
      class="align-self-start mt-3 mb-3"
      (click)="resetSettings()"
    >
      Reset Settings
    </button>
  </form>
</div>
