<main
  class="grid-container p-3"
  style="--color-primary:{{ settings.masjidPrimaryColor }}; 
  --color-secondary:{{ settings.masjidSecondaryColor }}"
>
  <section class="header p-4 shadow-2">
    <img
      class="header__masjid-logo"
      [src]="settings.masjidLogoSrc"
      alt="Masjid Logo"
      routerLink="/settings"
    />
    <div class="header__masjid-name">
      <span class="text-5xl font-bold">{{ settings.masjidName }}</span>
      <span class="text-5xl text-black-alpha-60">
        {{ settings.masjidSubheader }}
      </span>
    </div>
  </section>

  <section class="date-g p-4 shadow-2">
    <span class="text-6xl">
      {{
        settings.language === "en"
          ? (now | date : "MMMM")
          : months[now.getMonth()]
      }}
    </span>
    <span class="text-6xl">{{ now | date : "d" }}</span>
    <span class="text-6xl">{{ now | date : "yyyy" }}</span>
  </section>

  <section class="day p-4 shadow-2">
    <span class="text-6xl">
      {{
        settings.language === "en" ? (now | date : "EEEE") : days[now.getDay()]
      }}
    </span>
  </section>

  <section class="time p-4 shadow-2">
    <span class="text-6xl">{{ now | date : "h:mm:ss a" }}</span>
  </section>

  <section class="date-h p-4 shadow-2">
    <ng-container *ngIf="prayerData; else loading">
      <span class="text-5xl">{{
        settings.language === "en"
          ? (prayerData.date.hijri.month.en | titlecase)
          : prayerData.date.hijri.month.ar
      }}</span>
      <span class="text-6xl">{{ prayerData.date.hijri.day }}</span>
      <span class="text-6xl">{{ prayerData.date.hijri.year }}</span>
    </ng-container>
  </section>

  <section
    class="prayers p-4 shadow-2"
    [ngClass]="{
      'prayers--arabic': settings.language === 'ar'
    }"
  >
    <ng-container *ngIf="prayerData; else loading">
      <div class="prayers__row">
        <span>{{ settings.language === "en" ? "Prayer" : "الصلاة" }} </span>
        <span>{{ settings.language === "en" ? "Adhan" : "الأذان" }} </span>
        <span>{{ settings.language === "en" ? "Iqama" : "الإقامة" }} </span>
      </div>
      <div
        class="prayers__row shadow-3"
        [ngClass]="{
          'prayers__row--highlighted shadow-7': nextPrayerIndex === 0
        }"
      >
        <span>{{ settings.language === "en" ? "Fajr" : "الفجر" }}</span>
        <span>{{ format24HTime(prayerData.timings.Fajr) }}</span>
        <span>
          {{
            format24HTime(prayerData.timings.Fajr, settings.iqamaOffset.Fajr)
          }}
        </span>
      </div>
      <div
        class="prayers__row shadow-3"
        [ngClass]="{
          'prayers__row--highlighted shadow-7': nextPrayerIndex === 1
        }"
      >
        <span>{{ settings.language === "en" ? "Sunrise" : "الشروق" }}</span>
        <span>{{ format24HTime(prayerData.timings.Sunrise) }}</span>
      </div>
      <div
        class="prayers__row shadow-3"
        [ngClass]="{
          'prayers__row--highlighted shadow-7': nextPrayerIndex === 2
        }"
      >
        <span>{{ settings.language === "en" ? "Dhuhr" : "الظهر" }}</span>
        <span>{{ format24HTime(prayerData.timings.Dhuhr) }}</span>
        <span>
          {{
            format24HTime(prayerData.timings.Dhuhr, settings.iqamaOffset.Dhuhr)
          }}
        </span>
      </div>
      <div
        class="prayers__row shadow-3"
        [ngClass]="{
          'prayers__row--highlighted shadow-7': nextPrayerIndex === 3
        }"
      >
        <span>{{ settings.language === "en" ? "Asr" : "العصر" }}</span>
        <span>{{ format24HTime(prayerData.timings.Asr) }}</span>
        <span>
          {{ format24HTime(prayerData.timings.Asr, settings.iqamaOffset.Asr) }}
        </span>
      </div>
      <div
        class="prayers__row shadow-3"
        [ngClass]="{
          'prayers__row--highlighted shadow-7': nextPrayerIndex === 4
        }"
      >
        <span>{{ settings.language === "en" ? "Maghrib" : "المغرب" }}</span>
        <span>{{ format24HTime(prayerData.timings.Maghrib) }}</span>
        <span>
          {{
            format24HTime(
              prayerData.timings.Maghrib,
              settings.iqamaOffset.Maghrib
            )
          }}
        </span>
      </div>
      <div
        class="prayers__row shadow-3"
        [ngClass]="{
          'prayers__row--highlighted shadow-7': nextPrayerIndex === 5
        }"
      >
        <span>{{ settings.language === "en" ? "Isha" : "العشاء" }}</span>
        <span>{{ format24HTime(prayerData.timings.Isha) }}</span>
        <span>
          {{
            format24HTime(prayerData.timings.Isha, settings.iqamaOffset.Isha)
          }}
        </span>
      </div>
    </ng-container>
  </section>

  <section *ngIf="!showCountdown; else countdown" 
    class="additional-info p-4 shadow-2"
    [ngClass]="{
      'additional-info--highlighted':
        nextPrayerIndex === 2 && now.getDay() === 5
    }"
  >
    <span *ngFor="let info of settings.additionalInfo" class="text-7xl">
      {{ info }}
    </span>
  </section>
</main>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #countdown >
<section class="countdown p-4 shadow-2">
  <div>
    <mat-progress-spinner
        class="progressBar"
        [mode]="mode"
        [value]="progressbarValue"
        [diameter]="250"
        [strokeWidth]="40"
        >
    </mat-progress-spinner>
      <span class="timerText text-7xl align-content-center" style="position:absolute;padding:63px;" >{{nextPrayerIqama.valueOf() - now.valueOf() | date : "m:ss" }}</span>  
    </div>
  
</section>
</ng-template>