$padding: 16px;
$margin: 8px;
$full-height: calc(100%);
$column: calc($full-height / 12);

.masjid-container {
  height: calc($column - 2 * $padding - $margin);
  padding: $padding;
  margin: $margin;
}

.date-container {
  height: calc(2 * $column - 2 * $padding - $margin);
  padding: $padding;
  margin: $margin;
}

.timings-container {
  height: calc(7 * $column - 2 * $padding - $margin);
  padding: $padding;
  margin: $margin;
}

.info-container {
  height: calc(2 * $column - 2 * $padding - $margin);
  padding: $padding;
  margin: $margin;
}
