<main class="grid-container p-3">
  <section class="header p-4 shadow-5">
    <img
      [src]="settings.MasjidLogoSrc"
      alt="Masjid Logo"
      routerLink="/settings"
      style="height: 150px; width: 150px"
    />
    <div class="header__masjid-name">
      <span class="text-5xl font-bold">
        {{ settings.MasjidName }}
      </span>
      <span class="text-5xl text-black-alpha-60">
        {{ settings.MasjidSubheader }}
      </span>
    </div>
  </section>

  <section class="date-g p-4 shadow-5">
    <ng-container *ngIf="todayPrayerData">
      <span class="text-6xl">
        {{ todayPrayerData.date.gregorian.month.en }}
      </span>
      <span class="text-6xl">
        {{ todayPrayerData.date.gregorian.day }}
      </span>
      <span class="text-6xl">
        {{ todayPrayerData.date.gregorian.year }}
      </span>
    </ng-container>
  </section>

  <section class="day p-4 shadow-5">
    <div class="text-6xl">
      {{ now | date: "EEEE" }}
    </div>
  </section>

  <section class="time p-4 shadow-5">
    <div class="text-6xl">
      {{ now | date: "h:mm:ss a" }}
    </div>
  </section>

  <section class="date-h p-4 shadow-5">
    <ng-container *ngIf="todayPrayerData">
      <span class="text-6xl">{{ todayPrayerData.date.hijri.month.ar }}</span>
      <span class="text-6xl">{{ todayPrayerData.date.hijri.day }}</span>
      <span class="text-6xl">{{ todayPrayerData.date.hijri.year }}</span>
    </ng-container>
  </section>

  <section class="prayers p-4 shadow-5">
    <div class="prayers__row">
      <span>Prayer</span>
      <span>Adhan</span>
      <span>Iqamah</span>
    </div>
    <div class="prayers__row shadow-3">
      <span>Fajr</span>
      <span>{{ todayPrayerData.timings.Fajr }}</span>
      <span>Iqama</span>
    </div>
    <div class="prayers__row shadow-3">
      <span>Sunrise</span>
      <span>{{ todayPrayerData.timings.Sunrise }}</span>
    </div>
    <div class="prayers__row shadow-3">
      <span>Dhuhr</span>
      <span>{{ todayPrayerData.timings.Dhuhr }}</span>
      <span>Iqama</span>
    </div>
    <div class="prayers__row shadow-3">
      <span>Asr</span>
      <span>{{ todayPrayerData.timings.Asr }}</span>
      <span>Iqama</span>
    </div>
    <div class="prayers__row shadow-3">
      <span>Maghrib</span>
      <span>{{ todayPrayerData.timings.Maghrib }}</span>
      <span>Iqama</span>
    </div>
    <div class="prayers__row shadow-3">
      <span>Isha</span>
      <span>{{ todayPrayerData.timings.Isha }}</span>
      <span>Iqama</span>
    </div>
  </section>

  <section class="additional-info p-4 shadow-5">
    <span *ngFor="let info of settings.AdditionalInfo" class="text-7xl">
      {{ info }}
    </span>
  </section>
</main>
