<!-- <div>
  {{ now | date: "h:mm:ss a" }}
</div>

<div *ngIf="todayPrayerData">
  {{ todayPrayerData.timings.Isha }}

  {{ todayPrayerData.date.hijri.day }}
  {{ todayPrayerData.date.hijri.month.en }}
  {{ todayPrayerData.date.hijri.year }}

  {{ todayPrayerData.date.gregorian.month.en }}
  {{ todayPrayerData.date.gregorian.day }}
  {{ todayPrayerData.date.gregorian.year }}
</div> -->

<mat-card class="masjid-container">
  <mat-card-header>
    <div mat-card-avatar class="logo-image"></div>
    <mat-card-title>{{masjidName?.name}}</mat-card-title>
    <mat-card-subtitle>{{prayerLocation?.city}}, {{prayerLocation?.state}}</mat-card-subtitle>
  </mat-card-header>
  
</mat-card>

<mat-card class="date-container"></mat-card>
<mat-card class="timings-container"></mat-card>
<mat-card class="info-container"></mat-card>
